    <h1>livros cadastrar</h1>
<hr>

<div class="boxs1">

        <div class="box1">
            <h2>Nome do livro</h2>
                <ul>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quis porro officia quam soluta accusantium aliquid suscipit eius, sint, itaque molestias, assumenda iste voluptate blanditiis? Ipsum architecto illo sint aspernatur.</ul>
                    <ul class="categ1">
                        <p>categoria</p>
                        <p>R$50,00</p>
                    </ul>
    </div>
        <div class="box2">
            <h2>Nome do livro</h2>
                <ul>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quis porro officia quam soluta accusantium aliquid suscipit eius, sint, itaque molestias, assumenda iste voluptate blanditiis? Ipsum architecto illo sint aspernatur.</ul>
                    <ul class="categ2">
                        <p>categoria</p>
                        <p>R$50,00</p>
                    </ul>
        </div>

    <div class="box3">
            <h2>Nome do livro</h2>
                <ul>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quis porro officia quam soluta accusa0ntium aliquid suscipit eius, sint, itaque molestias, assumenda iste voluptate blanditiis? Ipsum architecto illo sint aspernatur.</ul>
                    <ul class="categ3">
                        <p>categoria</p>
                        <p>R$50,00</p>
                    </ul>
        </div>

    </div>

    <div class="boxs2">

        <div class="box4">

            <h2>Nome do livro</h2>
                <ul>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quis porro officia quam soluta accusantium aliquid suscipit eius, sint, itaque molestias, assumenda iste voluptate blanditiis? Ipsum architecto illo sint aspernatur.</ul>
                    <ul class="categ4">
                        <p>categoria</p>
                        <p>R$50,00</p>
                    </ul>

    </div>


    <div class="box5">
            <h2>Nome do livro</h2>
                <ul>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quis porro officia quam soluta accusantium aliquid suscipit eius, sint, itaque molestias, assumenda iste voluptate blanditiis? Ipsum architecto illo sint aspernatur.</ul>
                    <ul class="categ5">
                        <p>categoria</p>
                        <p>R$50,00</p>
                    </ul>
    </div>


    <div class="box6">
        <h2>Nome do livro</h2>
            <ul>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quis porro officia quam soluta accusantium aliquid suscipit eius, sint, itaque molestias, assumenda iste voluptate blanditiis? Ipsum architecto illo sint aspernatur.</ul>
                    <ul class="categ6">
                        <p>categoria</p>
                        <p>R$50,00</p>
                    </ul>
    </div>
</div>
